* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 10px;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 250px;
  padding: 20px;
}

.buttons {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.buttons > .editor-button {
  border: 0;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px hsl(0, 0%, 70%) solid;
  cursor: pointer;
  transition: background 200ms ease;
}

.buttons > .editor-button:hover {
  background: hsl(0, 0%, 80%);
}

#button-bold {
  font-weight: 700;
}

#button-italic {
  font-style: italic;
}

#button-underline {
  text-decoration: underline;
}

#rendered-markdown {
  padding: 20px;
}

#rendered-markdown p {
  white-space: pre-wrap;
}

#rendered-markdown blockquote {
  padding: 5px;
  background: hsl(0, 0%, 80%);
}

#fake-textarea {
  height: 200px;
  width: 100%;
}